body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-image: url(https://wallpapers.com/images/featured/anime-girl-background-svb7mbrphqbrc0ld.jpg) ;
    color: white;
  }

button {
    background-image: url(https://i.redd.it/si2cn6u1smj21.jpg);
    color: black;
}